<style>
  .bold-text-wrapper {
	font-size: 7.0vmin;
	height: 2em;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	mix-blend-mode: screen;

	&.invert {
		span {
			color: black;

			&::before {
				-webkit-text-stroke: .1em var(--color);
			}
		}
	}

	span {
		--color: #bf3a3a;
		font-family: Impact, 'Anton', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
		font-weight: 700;
		font-style: italic;
		display: block;
		position: absolute;
		color: var(--color);
		letter-spacing: -.005em;

		&::before, &::after {
			content: attr(data-text);
			display: block;
			position: relative;
			padding: 0 .1em;
			z-index: 1;
		}

		&::before {
			position: absolute;
			-webkit-text-stroke: .12em black;
			z-index: 0;
		}

		&:first-child {
			transform: translate(-.255em, -.25em);
		}

		&:last-child {
			--color: #ffffff;
			transform: translate(.255em, .25em);
		}
	}
}
</style>

<div class="bold-text-wrapper">
	<span data-text="Hottest🔥"></span>
	<span data-text="Sneakers"></span>
</div>
