$primary-color: #000;
$secondary-color: #4c4c4c;
$primary-background: #ffffff; //fafafa
$secondary-background: #f2f2f2;
$input-background: #ffffff;
$ioffer-color: #22567c;
$ioffer-color-darkened: #1a4360;
$ioffer-red: #bf3a3a;
$new-ioffer-color: #205b97;
$new-ioffer-color-darkened: #225f9d;
$font-color: black;
$font-family: 'Quicksand', sans-serif;
$header-font-color: $font-color;
$header-background: #ffffff;
$meganav-font-color: $font-color;
$meganav-background: $primary-background;
$footer-font-color: $font-color;
$footer-background: $primary-background;
$secondary-font-color: $font-color;
$global-border-style: #e2e2e2;
$second-global-border: #e2e2e2;
$spree-header-max-width: 1440px;
$spree-header-banner-height: 100px;
$spree-header-mobile-height: 92px;
$spree-header-tablet-height: 70px;
$spree-header-desktop-height: 70px;
$spree-mobile-fly-over-header-height: 58px;

$io-font-sm-sublabel: 9pt;
$io-font-lg-sublabel: 10pt;
$io-font-xl-sublabel: 12pt;

$io-font-sm-label: 10pt;
$io-font-lg-label: 12pt;
$io-font-xl-label: 14pt;

$io-font-sm-head: 12pt;
$io-font-lg-head: 14pt;
$io-font-xl-head: 16pt;

$io-font-sm-super: 14pt;
$io-font-lg-super: 16pt;
$io-font-xl-super: 18pt;

$ioffer-general-border-radius: 8px;
$ioffer-category-border-radius: 16px;
$ioffer-very-light-gray-background-color: #f1f1f1;
$ioffer-max-light-gray-background-color: #f1f1f1;
$ioffer-results-light-gray-background-color: #f6f6f6;

//Buttons
$spree-option-type-button-background-color: #f3f3f3;
$spree-option-type-button-background-hover-color: #f0f0f0;
$spree-option-type-button-background-selected-color: #000;
