<ul class="visual-categories">
    <li class="mt-3">
      <a href="/t/categories/purses">
          <div class="visual-category-tile mr-2 overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-8 category-header">
                  <h5 class="sub-title">Purses</h5>
              </div>
              <div class="col-4 category-icon">
                  <img src="https://ioffer.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBeEYyQ3c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--bfc3442a7d451fbd7516fa4fd6c10ad183079098/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOTmpVd2VEZzNNRDRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--f742933d0b386540fca97a367c47c785cfb0efe9/1955-horsebit-leather-tote-bag-73135.1.png" alt="">
              </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
    <li class="mt-3">
      <a href="/t/categories/footwear/mens-shoes/sneakers">
          <div class="visual-category-tile mr-2 overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-8 category-header">
                  <h5 class="sub-title">Sneakers</h5>
              </div>
              <div class="col-4 category-icon">
                  <img src="https://ioffer.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMW9WQ3c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--f26c561e98f5361cff70396378c13663d20282ba/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOTmpVd2VEZzNNRDRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--f742933d0b386540fca97a367c47c785cfb0efe9/dd48e2544b8ab96e372f7fba8baea5e8.jpeg" alt="">
              </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
    <li class="mt-3">
      <a href="/t/categories/womens-clothing/accessories/eyewear-accessories">
          <div class="visual-category-tile mr-2 overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-8 category-header">
                  <h5 class="sub-title">Women's Sunglasses</h5>
              </div>
              <div class="col-4 category-icon">
                <img src="https://ioffer.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBM3p1Q3c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--f052d9fdb782697d023ab097838c72586a4ecb5a/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOTmpVd2VEZzNNRDRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--f742933d0b386540fca97a367c47c785cfb0efe9/f860a83461e54fd888db4fe97e6c71af.jpg" alt="">
            </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
    <li class="mt-3">
        <a href="/t/categories/jewelry-accessories">
          <div class="visual-category-tile mr-2 overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-8 category-header">
                  <h5 class="sub-title">Watches</h5>
              </div>
              <div class="col-4 category-icon">
                  <img src="https://ioffer.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNXdHREE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--898cb64409cbfb165584d62b0d35d7fc3df110c6/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOTmpVd2VEZzNNRDRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--f742933d0b386540fca97a367c47c785cfb0efe9/1.jpg" alt="">
              </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
    <li class="mt-3">
      <a href="/t/categories/mens-clothing/tops/t-shirts">
          <div class="visual-category-tile mr-2 overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-8 category-header">
                  <h5 class="sub-title">Men's T-Shirts</h5>
              </div>
              <div class="col-4 category-icon">
                  <img src="https://ioffer.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBei8rQ3c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--a867fbb72419e804ef0a7cc6b680bdd58a92a4fd/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOTmpVd2VEZzNNRDRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--f742933d0b386540fca97a367c47c785cfb0efe9/KAWS-x-Uniqlo-Tokyo-First-Mori-Arts-Gallery-Exclusive-Tee-Japanese-Sizing-White.jpg" alt="">
              </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
    <li class="mt-3">
      <a href="/t/categories/footwear/womens-shoes/heels">
          <div class="visual-category-tile mr-2 overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-8 category-header">
                  <h5 class="sub-title">Women's Shoes</h5>
              </div>
              <div class="col-4 category-icon">
                  <img src="https://ioffer.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNFB3Q3c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--4a6ef3b5fd3d97990db1520f99bd1f7cff28991a/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOTmpBd2VEWXdNRDRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--63a3b5f97ae9837bfddcc95409683247329f9511/ed6b48d230b94b9f9e1496c17a44a08b.jpg" alt="">
              </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
</ul>
