<ul class="nav pl-3 side-cat-bar">
    <li class="">
      <a href="/products_l?keywords=Louis+Vuitton&utm_source=home&utm_medium=trending_link&utm_term=LV" class="p-2 main-nav-bar-item main-nav-bar-category-button w-100">Louis Vuitton</a>
      <!--<@%= link_to top_category.name, seo_url(top_category), class: "p-2 main-nav-bar-item main-nav-bar-category-button" %> -->
    </li>
    <li class="">
      <a href="/products_l?keywords=Balenciaga&utm_source=home&utm_medium=trending_link&utm_term=BAL" class="p-2 main-nav-bar-item main-nav-bar-category-button w-100">Balenciaga</a>
      <!--<@%= link_to top_category.name, seo_url(top_category), class: "p-2 main-nav-bar-item main-nav-bar-category-button" %> -->
    </li>
    <li class="">
      <a href="/products_l?keywords=Versace&utm_source=home&utm_medium=trending_link&utm_term=VER" class="p-2 main-nav-bar-item main-nav-bar-category-button w-100">Versace</a>
      <!--<@%= link_to top_category.name, seo_url(top_category), class: "p-2 main-nav-bar-item main-nav-bar-category-button" %> -->
    </li>
    <li class="">
      <a href="/products_l?keywords=Gucci&utm_source=home&utm_medium=trending_link&utm_term=GU" class="p-2 main-nav-bar-item main-nav-bar-category-button w-100">Gucci</a>
      <!--<@%= link_to top_category.name, seo_url(top_category), class: "p-2 main-nav-bar-item main-nav-bar-category-button" %> -->
    </li>
    <li class="">
      <a href="/products_l?keywords=Moncler&utm_source=home&utm_medium=trending_link&utm_term=MON" class="p-2 main-nav-bar-item main-nav-bar-category-button w-100">Moncler</a>
      <!--<@%= link_to top_category.name, seo_url(top_category), class: "p-2 main-nav-bar-item main-nav-bar-category-button" %> -->
    </li>
    <li class="">
      <a href="/products_l?keywords=michael+kors&utm_source=home&utm_medium=trending_link&utm_term=MK" class="p-2 main-nav-bar-item main-nav-bar-category-button w-100">Michael Kors</a>
      <!--<@%= link_to top_category.name, seo_url(top_category), class: "p-2 main-nav-bar-item main-nav-bar-category-button" %> -->
    </li>
    <li class="">
      <a href="/products_l?keywords=ray+bans&utm_source=home&utm_medium=trending_link&utm_term=RAY" class="p-2 main-nav-bar-item main-nav-bar-category-button w-100">Ray Bans</a>
      <!--<@%= link_to top_category.name, seo_url(top_category), class: "p-2 main-nav-bar-item main-nav-bar-category-button" %> -->
    </li>
    <li class="">
      <a href="/products_l?keywords=Burberry&utm_source=home&utm_medium=trending_link&utm_term=BUR" class="p-2 main-nav-bar-item main-nav-bar-category-button w-100">Burberry</a>
      <!--<@%= link_to top_category.name, seo_url(top_category), class: "p-2 main-nav-bar-item main-nav-bar-category-button" %> -->
    </li>
    <li class="">
      <a href="/products_l?keywords=Prada&utm_source=home&utm_medium=trending_link&utm_term=PRD" class="p-2 main-nav-bar-item main-nav-bar-category-button w-100">Prada</a>
      <!--<@%= link_to top_category.name, seo_url(top_category), class: "p-2 main-nav-bar-item main-nav-bar-category-button" %> -->
    </li>
    <li class="">
      <a href="/products_l?keywords=Chanel&utm_source=home&utm_medium=trending_link&utm_term=CHA" class="p-2 main-nav-bar-item main-nav-bar-category-button w-100">Chanel</a>
      <!--<@%= link_to top_category.name, seo_url(top_category), class: "p-2 main-nav-bar-item main-nav-bar-category-button" %> -->
    </li>
    <li class="">
      <a href="/products_l?keywords=air+jordan&utm_source=home&utm_medium=trending_link&utm_term=JOR" class="p-2 main-nav-bar-item main-nav-bar-category-button w-100">Air Jordan</a>
      <!--<@%= link_to top_category.name, seo_url(top_category), class: "p-2 main-nav-bar-item main-nav-bar-category-button" %> -->
    </li>
    <li class="">
      <a href="/products_l?keywords=off+white&utm_source=home&utm_medium=trending_link&utm_term=OFF" class="p-2 main-nav-bar-item main-nav-bar-category-button w-100">Off-White</a>
      <!--<@%= link_to top_category.name, seo_url(top_category), class: "p-2 main-nav-bar-item main-nav-bar-category-button" %> -->
    </li>
    <li class="">
      <a href="/products_l?keywords=Nike&utm_source=home&utm_medium=trending_link&utm_term=NKE" class="p-2 main-nav-bar-item main-nav-bar-category-button w-100">Nike</a>
      <!--<@%= link_to top_category.name, seo_url(top_category), class: "p-2 main-nav-bar-item main-nav-bar-category-button" %> -->
    </li>
</ul>
