<% # Required locals: 
  # option_type [Spree::OptionType]
-%>
<li class="select2-search-choice">
  <div><%= option_type.presentation -%> (<%= option_type.name -%>)</div>
  <a class="select2-search-choice-close" href="#" tabindex="-1"></a>
</li>