.seller-item-banner {
  width: 90%;
  background-color: white;
  align-items: center;
  text-align: center;
  font-size: 14pt;
  line-height: 34pt;
  padding: 0.2em;
  font-weight: 600;
  margin: auto;
  border-radius: 17pt;
}

.seller-item-banner a {
  font-size: 16pt;
  text-decoration: underline;
  color: #22567C;
}

.seller-sold-text-style {
  font-size: 14pt;
  font-weight: 600;
}

.list-same-item-button {
  height: 44px;
  font-weight: 600;
  font-size: 18px;
  border-radius: 10px;
}

.seller-item-banner-detail {
  width: 60%;
  background-color: #FFFBBB;
  align-items: center;
  text-align: center;
  font-size: 14pt;
  line-height: 34pt;
  padding: 0.2em;
  font-weight: 600;
  margin: auto;
  border-radius: 17pt;
}

.seller-item-banner-detail a {
  font-size: 16pt;
  text-decoration: underline;
  color: #22567C;
}
