.cart-icon {
  $self: &;
  position: relative;
  display: inline-block;
  stroke-width: 0.0px;
  padding-right: 7%;
  svg {
    stroke: black;
    width: 30px;
    height: 29px;
    @include media-breakpoint-up(xl) {
      width: 28px;
      height: 28px;
    }
  }
  &,
  &:hover {
    color: $header-font-color;
  }

  &-count {
    $size: 16px;
    $border-width: 1px;
    border-radius: $size / 2;
    border: 1px solid $header-background;
    color: $header-background;
    background: #ff010c;
    position: absolute;
    height: $size;
    min-width: $size;
    right: -15%;
    bottom: 35%;
    text-align: center;
    line-height: $size - $border-width * 2;
    padding: 0 2px;
    font-size: font-px-to-rem(10px);
    display: none;
    @include media-breakpoint-up(xl) {
      $size: 20px;
      $border-width: 2px;
      border-radius: $size / 2;
      border-width: $border-width;
      height: $size;
      min-width: $size;
      line-height: $size - $border-width * 2;
      font-size: font-px-to-rem(14px);
    }
  }
  &--visible-count {
    #{$self}-count {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.cart-checkout-btn {
  font-size: 1.375rem;
  height: 65px;
  padding: 16px 28px;
}

.hr-header {
  overflow: hidden;
  text-align: center;
  color: #999;

  &:before,
  &:after {
    background-color: #ccc;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  &:before {
    right: 0.5em;
    margin-left: -50%;
  }
  &:after {
    left: 0.5em;
    margin-right: -50%;
  }
}
