%h4 User Lists
%ul
  - @user_lists.each do|user_list|
    %li
      = link_to user_list.name, admin_users_path(q:{ user_list_users_user_list_id_eq: user_list.id }) 
      (#{user_list.user_list_users.count } users)