<% if line_items.present? %>
  <% line_item = line_items.first %>
  <% order = line_item.order %>
  <% user = order&.user %>
  <% ship_address = order&.ship_address %>
  <% country_code = user&.country_code&.downcase %>
  <% country_name = ship_address&.country %>

  <% if order.present? && user.present? && ship_address.present? && country_code.present? %>
    <div class="order-row" style="display: flex; justify-content: center; align-items: center; margin: auto; margin-bottom: 1em;">
      <div
        class="flag-circle"
        style="
          width: 35px; height: 35px; border-radius: 50%; overflow: hidden; margin-right: 0.5em;
          background-image: url('/flags/4x3/<%= country_code %>.svg');
          background-size: cover; background-position: center; display: flex; align-items: center; justify-content: center; flex-shrink: 0;"
        title="<%= country_name.presence || 'N/A' %>"
        >
      </div>

      <div style="text-align: left;">
        <span style="font-weight: bold; font-size: 1.1em;">
          <% location_country = user&.country_code&.upcase || 'N/A' %>
          <%= "Buyer from #{location_country} offered #{number_to_currency(line_item.price, unit: '$')}" %>
        </span>
        <br>
        <% city = (ship_address.city || 'New York').titleize %>
        <% first_name = ship_address.first_name %>
        <span style="color: gray; font-size: 0.9em;">
            <%= "#{first_name.capitalize} in #{city}" %>
        </span>
      </div>
    </div>
  <% end %>
<% else %>
  <p>No recent transactions available.</p>
<% end %>
